@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-primary: #1F3A34;
  --color-accent: #C8A96A;

  --color-background: #F7F6F3;
  --color-section1: #EFEAE1;
  --color-section2: #1F3A34;

  --color-text1: #F7F6F3;
  --color-text2: #1F3A34;
  

  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);
}

/*  @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground); 
  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);
}  */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

 
body {
  font-family: var(--font-inter);
}